{% extends 'layout.html' %}

{% block title %}Book Computer{% endblock %}

{% block content %}
<div class="container">
    <h2>Book Computer: {{ computer.name }}</h2>
    <form method="post">
        {% csrf_token %}
        <label for="booking_date">Date:</label>
        <input type="date" id="booking_date" name="booking_date" required>
        <br>
        <label for="booking_time">Time:</label>
        <input type="time" id="booking_time" name="booking_time" required>
        <br>
        <button type="submit" class="btn btn-primary">Book</button>
    </form>
</div>
{% endblock %}