{% extends 'layout.html' %}
{% block content %}
<div class="login-container">
    <h1 class="login-title">Login</h1>
    <form method="post">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
    
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}